table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:1rem;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .actions{
      display:flex;
      justify-content: space-evenly;
  }